# Unreleased generic collections and common device status.
lorawan-connection[chirpstack,tts] @ git+https://github.com/home-assistant-libs/lorawan-connection.git@d338fe8f5fc687b1a1d445cf6e51040872b67f88
grpcio==1.83.1
protobuf==7.36.0
