# Unreleased generic collections and common device status.
lorawan-connection[chirpstack,tts] @ git+https://github.com/home-assistant-libs/lorawan-connection.git@0a6cdd8bae07a253cbc3e59dfdfe900f75ec4749
grpcio==1.83.1
protobuf==7.36.0
